In [1]:
import numpy as np
import pandas as pd

# Leitura dos dados

In [2]:
df = pd.read_csv("GroceryProductsPurchase.csv", header = None)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,Product 1,Product 2,Product 3,Product 4,Product 5,Product 6,Product 7,Product 8,Product 9,Product 10,...,Product 23,Product 24,Product 25,Product 26,Product 27,Product 28,Product 29,Product 30,Product 31,Product 32
1,citrus fruit,semi-finished bread,margarine,ready soups,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,tropical fruit,yogurt,coffee,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,whole milk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,pip fruit,yogurt,cream cheese,meat spreads,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Removendo a Primeira Linha do DataFrame

In [3]:
df = df.drop(0)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
1,citrus fruit,semi-finished bread,margarine,ready soups,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,tropical fruit,yogurt,coffee,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,whole milk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,pip fruit,yogurt,cream cheese,meat spreads,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,other vegetables,whole milk,condensed milk,long life bakery product,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Trocando os NAN por Zeros

In [4]:
df = df.replace(np.nan, 0)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
1,citrus fruit,semi-finished bread,margarine,ready soups,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,tropical fruit,yogurt,coffee,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,whole milk,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,pip fruit,yogurt,cream cheese,meat spreads,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,other vegetables,whole milk,condensed milk,long life bakery product,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# AnÃ¡lise dos Dados

In [5]:
df.describe()

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
count,9835,9835,9835,9835,9835,9835,9835,9835,9835,9835,...,9835,9835,9835,9835,9835,9835,9835,9835,9835,9835
unique,158,152,156,154,151,138,139,141,129,121,...,14,8,7,8,6,5,4,2,2,2
top,sausage,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
freq,825,2159,3802,5101,6106,6961,7606,8151,8589,8939,...,9821,9827,9828,9828,9829,9830,9831,9834,9834,9834

# Convertendo o DataFrame em Uma Lista de Listas para Usar os Tamanhos VariÃ¡veis das Compras Removendo os Zeros

In [6]:
def removeZerosInList(_list):
    return list(filter(lambda x: x != 0, _list))

In [7]:
list_all_transactions = []

for index, row in df.iterrows():
    list_single_transaction = row.values.tolist()
    list_single_transaction = removeZerosInList(list_single_transaction)
    list_all_transactions.append(list_single_transaction)

In [8]:
for index in range(10):
    print(list_all_transactions[index])

['citrus fruit', 'semi-finished bread', 'margarine', 'ready soups']
['tropical fruit', 'yogurt', 'coffee']
['whole milk']
['pip fruit', 'yogurt', 'cream cheese', 'meat spreads']
['other vegetables', 'whole milk', 'condensed milk', 'long life bakery product']
['whole milk', 'butter', 'yogurt', 'rice', 'abrasive cleaner']
['rolls/buns']
['other vegetables', 'UHT-milk', 'rolls/buns', 'bottled beer', 'liquor (appetizer)']
['potted plants']
['whole milk', 'cereals']

# Pre-processamento dos dados

## Criando um NumPy array de one-hot encoded pois Ã© o formato que o apriori usa como entrada

In [9]:
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_ary = te.fit(list_all_transactions).transform(list_all_transactions)
df = pd.DataFrame(te_ary, columns=te.columns_)

df.head()

,Instant food products,UHT-milk,abrasive cleaner,artif. sweetener,baby cosmetics,baby food,bags,baking powder,bathroom cleaner,beef,...,turkey,vinegar,waffles,whipped/sour cream,whisky,white bread,white wine,whole milk,yogurt,zwieback
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False

# Utilizando o Algoritmo Apriori

## Calculando os Suportes dos Itens

In [10]:
from mlxtend.frequent_patterns import apriori

frequent_items = apriori(df, min_support = 0.01, use_colnames = True)
frequent_items.sort_values(by=['support'], ascending = False).head(10)

     support            itemsets
86  0.255516        (whole milk)
55  0.193493  (other vegetables)
66  0.183935        (rolls/buns)
75  0.174377              (soda)
87  0.139502            (yogurt)
6   0.110524     (bottled water)
67  0.108998   (root vegetables)
81  0.104931    (tropical fruit)
73  0.098526     (shopping bags)
70  0.093950           (sausage)

## Estabelecendo Regras de AssociaÃ§Ã£o

In [11]:
from mlxtend.frequent_patterns import association_rules

rules = association_rules(frequent_items, metric="confidence", min_threshold=0.5)

## Ordenando pelo Lift

In [12]:
rules = rules.sort_values(by=['lift'], ascending = False).drop(['antecedent support', 'consequent support', 'leverage', 'conviction'], axis=1)
rules.head(10)

,antecedents,consequents,support,confidence,lift
1,"(citrus fruit, root vegetables)",(other vegetables),0.010371,0.586207,3.029608
6,"(root vegetables, tropical fruit)",(other vegetables),0.012303,0.584541,3.020999
5,"(rolls/buns, root vegetables)",(other vegetables),0.012201,0.502092,2.594890
7,"(yogurt, root vegetables)",(other vegetables),0.012913,0.500000,2.584078
2,"(curd, yogurt)",(whole milk),0.010066,0.582353,2.279125
0,"(butter, other vegetables)",(whole milk),0.011490,0.573604,2.244885
11,"(root vegetables, tropical fruit)",(whole milk),0.011998,0.570048,2.230969
12,"(yogurt, root vegetables)",(whole milk),0.014540,0.562992,2.203354
3,"(other vegetables, domestic eggs)",(whole milk),0.012303,0.552511,2.162336
14,"(whipped/sour cream, yogurt)",(whole milk),0.010880,0.524510,2.052747